[Unit]
Description=http Camera Motion
After=syslog.target network.target

[Service]
Type=oneshot
PrivateTmp=true
ExecStart=/usr/bin/bash /srv/httpCameraMotion/httpCameraMotion-service.sh start
ExecStop=/usr/bin/bash /srv/httpCameraMotion/httpCameraMotion-service.sh stop
#ExecReload=/bin/kill -HUP $MAINPID
#KillSignal=SIGINT
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
